---
:name: my_project
:boxes:
  :web:
    :is_primary: true
    :providers:
      :docker:
        :image: "debian:jessie"
        :remains_running: true
    :synced_folders:
      - [./public, /srv/www]
    :nsupdate_domains:
      - www.my_project.local
  :db:
    :providers:
      :docker:
        :image: "postgres"
    :nsupdate_domains:
      - db.my_project.local

